
/* Titulo */ 

#titulo{
    width: 100%;
    height: 100vh;
    background-color:black;
    
    
}

.h1-titulo{
    font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 6rem;
  color:white;
  margin-top: 20%;
}

.p-titulo{
    color: red;
    font-size: 3rem;
    text-align: center;
}

.navbar-brand{

    font-size: 2rem;
   
}

.navbar{
    
    color: white;
    font-weight: bold;
}

.nav-item{
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-item a:hover{
    color:red !important;
}
/* Fim Titulo*/

/* Sobre */ 
#sobre{
    text-align: center;
    
    background-color:black;
    color: white
}

.jumbotron{
    
    background-color: gray;
}

.h1-sobre{
    
    
}



.p1-sobre{
    
    
    
}

.imagem-sobre{
    width: 50%;
    height: 20vh;
    margin-top: 5%;
}

/*Fim sobre*/

/*Projetos*/
#projetos{
    width: 100%;
    height: 100vh;
    background-color:black;
    
}

.h1-projetos{
    font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 6rem;
  color:white;
  padding-top: 10%;

}

/*Fim Projetos*/

/*Contato*/
#contato{
    width: 100%;
    height: 100vh;
    text-align: center;
    font-size: 6rem;
    background-color: black;
    
    
    
}

.h1-contato{
    font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 6rem;
  color:white;
  padding-top: 10%;

}


.contact-links{
    margin-top: 5%;
    font-size: 2rem;
    
}

.contact-details{
    font-size: 2.4rem;
  color:white;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
    transform: translateY(8px);
  }

#footer{
    font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  background: black;
  border-top: 4px solid #be3144;
}

.h1-footer{

}

.p-footer{
    margin: 2rem;
    font-size: 3rem;
    font-weight: bold;
    color: white;
}
